html, body { 
  min-height: 100%; margin: 0;
  background: #0f0f23;
} 
body { 
  height: 100%;
  background: #0f0f23 !important;
  font-size: 14pt;
}
h2, h3, h4, h5 {
  color: #00cc00;
  text-shadow: 0 0 2px #00cc00, 0 0 5px #00cc00;
}
#app label, #app p {
  color: #cccccc;
  font-size: 14pt;
}
#app button, #app a {
  background: transparent;
  border: none;
  color: #009900;
  font-size: 14pt;
}
#puzzleInput {
  background: transparent;
  box-shadow: none;
  color: #cccccc;
}