<template>
  <div>
    <h3>Advent of Calendar</h3>
    <p>--- Day {{ id }} ---</p>

    <div class="d-flex justify-content-center mt-3">
      <b-form inline>
        <label class="mr-2" for="puzzleInput">
          Please paste here your puzzle input:
        </label>
        <b-form-textarea v-model="puzzle"
          class="mb-2 mr-sm-2 mb-sm-0"
          id="puzzleInput"
          placeholder="11223344"
          :rows="1">
        </b-form-textarea>
        <b-button
          v-on:click="sendPuzzle(1)">
          [Submit]
        </b-button>
      </b-form>
    </div>
    <div class="mt-3"
      v-if="response">
      <p>Result: {{ response }}</p>
    </div>

    <div v-if="part2 && id === 1">
      <p>--- Part Two ---</p>
      <div class="d-flex justify-content-center mt-3">
        <b-form inline>
          <label class="mr-2" for="puzzleInput">
            Please paste here your puzzle input:
          </label>
          <b-form-textarea v-model="puzzle2"
            class="mb-2 mr-sm-2 mb-sm-0"
            id="puzzleInput2"
            placeholder="11223344"
            :rows="1">
          </b-form-textarea>
          <b-button
            v-on:click="sendPuzzle(2)">
            [Submit]
          </b-button>
        </b-form>
      </div>
    </div>
    <div class="mt-3"
      v-if="response2">
      <p>Result: {{ response2 }}</p>
    </div>
    <div class="mt-3">
      <b-button href="/">[Back]</b-button>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  data () {
    return {
      puzzle: '',
      puzzle2: '',
      id: parseInt(this.$route.params.id),
      part2: false,
      response: false,
      response2: false
    }
  },

  methods: {
    sendPuzzle (part) {
      let data = {}
      let puzzle = part === 1 ? this.puzzle : this.puzzle2

      if (this.id === 2 || this.id === 4) {
        puzzle = puzzle.replace(/(\r\n|\n)/g, ' + ')
      }

      data.puzzle = puzzle.replace(/(\r|\t)/g, ' ')
      data.day = this.id
      data.part = part

      axios.post(`/puzzle`, data)
        .then((response) => {
          if (part === 1) {
            this.response = response.data.result
            this.part2 = true
          } else {
            this.response2 = response.data.result
          }
        })
        .catch((error) => {
          console.log('error', error)
        })
    }
  }
}
</script>
