<template>
  <div>
    <h2>Advent of Calendar</h2>
    <p>Please choose a day</p>
    <div>
      <b-button href="day/1">[First day]</b-button>
      <b-button href="day/2">[Second day]</b-button>
      <b-button href="day/4">[Fourth day]</b-button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HomePage',
  data () {
    return {
      //
    }
  }
}
</script>
